@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@keyframes up-description{
    from {transform: translateY(0)}
    to {transform: translateY(-175px)}
}

@keyframes up{
    from {transform: translateY(0)}
    to {transform: translateY(-25px)}
}
@keyframes down {
    from {transform: translateY(-25px)}
    to {transform: translateY(0);}
}

h1{
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 35px;
}
.background{
    font-family: 'Lato', sans-serif;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    position: relative;
}

#rec-small{
    margin-top: 95px;
    margin-right: 450px;
    float: left; 
}
#rec-small1{
    margin-top: 95px;
    margin-right: 300px;
    float: left; 
}
#rec-small2{
    margin-top: 95px;
    margin-right: 150px;
    float: left; 
}
#rec-small3{
    margin-top: 95px;
    margin-right: 0px;
    float: left; 
}
#rec-small4{
    margin-top: 95px;
    margin-right: 600px;
    float: left; 
}
#rec-big{
    margin-top: 8px;
    margin-left: 195px;
    float: left;
  
}
#rec-big1{
    margin-top: 8px;
    margin-left: 550px;
    
}
.rec{
    position: absolute;
    animation: down 0.5s forwards;
}
.rec:hover{
    animation: up 0.5s both;  
    cursor: pointer;


}

#desc{
    display: block;
    text-align: center;
    width: 175px;
    height: 120px;
    background-color: rgb(247, 226, 136);
    box-shadow: 2px 2px 4px #000000;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s linear;
    margin-bottom: none;

    

}
.clouds{
    animation: up-description 0.25s forwards;
    position: absolute;
}

#description-text {
    margin-bottom: none;
    padding: none;

    position: absolute;
}



.rec:hover #desc{
    transition-delay: 0.15s;
    visibility: visible;
    opacity: 1;
    
}



